#
# Circle CI configuration. Runs each time we push a new commit to Github.
#

# The Semgrep config was derived from the example at
# https://semgrep.dev/docs/semgrep-ci/sample-ci-configs/#circleci

version: 2.1

orbs:
  win: circleci/windows@5.1.0

# TODO: check that the docs are up-to-date (requires odoc and pandoc)
jobs:
  build:
    docker:
      - image: mjambon/mj-ocaml:alpine
    working_directory: ~/testo
    steps:
      - checkout
      - run:
          name: Install OS-specific dependencies
          command: ./scripts/dev-setup-alpine
      - run:
          name: Install OS-independent dependencies
          command: ./scripts/dev-setup-all-platforms -y
      - run:
          name: Lint
          command: pre-commit run
      - run:
          name: Build
          command: opam exec -- make
      - run:
          name: Test
          command: opam exec -- make test
  build_legacy:
    docker:
      - image: mjambon/mj-ocaml-4.08:alpine
    working_directory: ~/testo
    steps:
      - checkout
      - run:
          name: Install OS-specific dependencies
          command: ./scripts/dev-setup-alpine
      - run:
          name: Install dependencies
          command: ./scripts/dev-setup-all-platforms -y
      - run:
          name: Build
          command: opam exec -- make
      - run:
          name: Test
          command: opam exec -- make test

  windows_build:
    executor:
      name: win/default
    steps:
      - checkout
      - run:
          name: Install Opam
          shell: bash.exe
          command: |
            url="https://github.com/ocaml/opam/releases/download/2.4.1/opam-2.4.1-x86_64-windows.exe"
            dst="$HOME/AppData/Local/Microsoft/WindowsApps/opam"
            curl -L "$url" -o "$dst"
            opam --version
      - run:
          name: Set up OCaml and opam environment
          shell: bash.exe
          no_output_timeout: 30m
          command: |
            opam init --compiler=5.3.0 -y --debug
            opam exec -- ocamlc -v
      - run:
          name: Install dependencies
          command: ./scripts/dev-setup-all-platforms -y
      - run:
          name: Build
          command: opam exec -- make
      - run:
          name: Test
          command: opam exec -- make test

  semgrep-full-scan:
    docker:
      - image: semgrep/semgrep
    steps:
      - checkout
      - run:
          name: "Semgrep full scan"
          command: semgrep ci
  semgrep-diff-scan:
    parameters:
      default_branch:
        type: string
        default: main
    docker:
      - image: semgrep/semgrep
    steps:
      - checkout
      - run:
          name: Semgrep diff scan
          environment:
            SEMGREP_BASELINE_REF: << parameters.default_branch >>
          command: semgrep ci

workflows:
  version: 2
  build:
    jobs:
      - build
      - build_legacy
      - windows_build
  semgrep:
    jobs:
      - semgrep-full-scan:
          filters:
            branches:
              only: main
          context:
            - semgrep
      - semgrep-diff-scan:
          filters:
            branches:
              ignore: main
          context:
            - semgrep
