#
# Circle CI configuration. Runs each time we push a new commit to Github.
#

# The Semgrep config was derived from the example at
# https://semgrep.dev/docs/semgrep-ci/sample-ci-configs/#circleci

version: 2.1

orbs:
  win: circleci/windows@5.1.0

# TODO: check that the docs are up-to-date (requires odoc and pandoc)
jobs:
  build:
    docker:
      - image: mjambon/mj-ocaml:alpine
    working_directory: ~/testo
    steps:
      - checkout
      - run:
          name: Install OS-specific dependencies
          command: ./scripts/dev-setup-alpine
      - run:
          name: Install OS-independent dependencies
          command: ./scripts/dev-setup-all-platforms -y
      - run:
          name: Lint
          command: pre-commit run
      - run:
          name: Build
          command: opam exec -- make
      - run:
          name: Test
          command: opam exec -- make test
  build_legacy:
    docker:
      - image: mjambon/mj-ocaml-4.08:alpine
    working_directory: ~/testo
    steps:
      - checkout
      - run:
          name: Install OS-specific dependencies
          command: ./scripts/dev-setup-alpine
      - run:
          name: Install dependencies
          command: ./scripts/dev-setup-all-platforms -y
      - run:
          name: Build
          command: opam exec -- make
      - run:
          name: Test
          command: opam exec -- make test

  windows_build:
    executor:
      name: win/default
    steps:
      - run:
          name: "Enable Git symlinks"
          # Check out symlinks as copies of the file they're pointing
          # to because Windows doesn't have symlinks and the default
          # setting is useless.
          command: git config --global core.symlinks true

      - checkout

      - run:
          name: Set weekly cache key segment
          shell: bash.exe
          # These commands calculate a number that increments
          # every 30 days or every 7 days
          command: |
            echo $(( ( $(date +%s) / 2592000 ) )) > 30day_id.txt
            echo $(( ( $(date +%s) / 604800 ) )) > week_id.txt
            echo $(( ( $(date +%s) / 604800 - 1 ) )) > previous_week_id.txt

      # Caching: refreshing a cache entry requires changing the cache
      # key. We refresh the caches once a week by using an identifier
      # for the week. To force a refresh, append a version segment
      # such as '-v123'.
      - restore_cache:
          keys:
            # The first available key is the one being used
            - opam-win-5.3.0-pkgs-{{ checksum "week_id.txt" }}
            - opam-win-5.3.0-pkgs-{{ checksum "previous_week_id.txt" }}
            - opam-win-5.3.0-{{ checksum "week_id.txt" }}
            - opam-win-5.3.0-{{ checksum "30day_id.txt" }}

      - run:
          name: Install Opam
          shell: bash.exe
          command: |
            url="https://github.com/ocaml/opam/releases/download/2.4.1/opam-2.4.1-x86_64-windows.exe"
            dst="$HOME/AppData/Local/Microsoft/WindowsApps/opam"
            curl -L "$url" -o "$dst"
            opam --version

      - run:
          # takes about 13 min without caching
          name: Set up OCaml and opam environment
          shell: bash.exe
          no_output_timeout: 30m
          environment:
            OPAMROOT: "C:\\Users\\circleci\\AppData\\Local\\opam"
          command: |
            if [[ -d ~/AppData/Local/opam ]]; then
              echo "Using cached opam switch"
            else
              opam init --compiler=5.3.0 -y --debug
            fi

      - save_cache:
          key: opam-win-5.3.0-{{ checksum "30day_id.txt" }}
          paths:
            - ~/AppData/Local/opam

      - run:
          # This takes about 10 min without caching.
          # With caching, it still queries opam-repository for package
          # updates but since most packages are already installed,
          # it's usually fast (~40 s).
          name: Install dependencies
          shell: bash.exe
          command: ./scripts/dev-setup-all-platforms -y

      - save_cache:
          key: opam-win-5.3.0-pkgs-{{ checksum "week_id.txt" }}
          paths:
            - ~/AppData/Local/opam

      # We don't call 'make' since Windows doesn't have GNU Make
      # and relying on it is not encouraged.
      - run:
          name: Build
          shell: bash.exe
          command: |
            opam exec -- dune build .
      - run:
          name: Test
          shell: bash.exe
          command: |
            opam exec -- dune exec diff/tests/test.exe
            opam exec -- dune exec tests/test_alcotest.exe
            opam exec -- dune exec tests/meta_test.exe

  semgrep-full-scan:
    docker:
      - image: semgrep/semgrep
    steps:
      - checkout
      - run:
          name: "Semgrep full scan"
          command: semgrep ci
  semgrep-diff-scan:
    parameters:
      default_branch:
        type: string
        default: main
    docker:
      - image: semgrep/semgrep
    steps:
      - checkout
      - run:
          name: Semgrep diff scan
          environment:
            SEMGREP_BASELINE_REF: << parameters.default_branch >>
          command: semgrep ci

workflows:
  version: 2
  build:
    jobs:
      - build
      - build_legacy
      - windows_build
  semgrep:
    jobs:
      - semgrep-full-scan:
          filters:
            branches:
              only: main
          context:
            - semgrep
      - semgrep-diff-scan:
          filters:
            branches:
              ignore: main
          context:
            - semgrep
